body {  
  background: url('./emails.jpg') no-repeat;
  background-size: cover;
}
.App {
  width: 100%;
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  margin: 0;
  width: 100%;
}
li {
  margin: 0 10px;
}
nav {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(0, 102, 128, 0.555);
  padding-left: 15px;
}
.nav-wrapper {
  width: 100%;
}
.textbox {
  background-color: white;
  margin: 30px;
  box-shadow: black 1px 1px 1px;
  border-radius: 3px;
  padding: 25px;
  opacity: 1;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}
.textbox p { 
  margin: 5%;
  font-family: Verdana;
  font-size: 12px;
  color: #000000;
}